


  <%= form_for(@workout) do |f| %>
  <form >
    <div class="form-group ">
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </div>

    <div class="form-group">
    <%= f.label :calories_burned %> <br>
    <%= f.text_field :calories_burned %>
    </div>

    <div class="actions">
    <%= f.submit %>
    </div>
  </form>
  <% end %>
