<div class= "container container-table">

<%= form_for @meal do |f| %>
  <div class="field">
  <%= f.label :meal_type %>
  <%= f.text_field :meal_type %><br>
</div>
  <br>
  <div class="field">
  <%= f.fields_for :food_items do |food| %>
    <%= food.label "Food Name" %>
    <%= food.text_field :name %>
    </div>
    <br>

    <div class="field">
    <%= food.label :serving_size %>
    <%= food.text_field :serving_size %>
  </div>
    <br>
    <div class="field">
    <%= food.label :num_servings %>
    <%= food.text_field :num_servings %>
  </div>
    <br>
    <div class="field">
    <%= food.label :calories %>
    <%= food.text_field :calories %>
  </div>
    <br>


    <br>
    <% end %>

    <%= f.submit %>
  <% end %>
</div>
