<%= form_for ([current_user, @meal])  do |f| %>
<% if @meal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

    <ul>
    <% meal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <form>
  <div class="form-group ">
  <%= f.label :meal_type %>
  <%= f.text_field :meal_type %><br>
</div>
  <br>
  <div class="form-group ">
  <%= f.fields_for :food_items_attributes do |food| %>
    <%= food.label "Food Name" %>
    <%= food.text_field :name %>
    </div>
    <br>

    <div class="form-group ">
    <%= food.label :serving_size %>
    <%= food.text_field :serving_size %>
  </div>
    <br>
    <div class="form-group ">
    <%= food.label :num_servings %>
    <%= food.text_field :num_servings %>
  </div>
    <br>
    <div class="form-group ">
    <%= food.label :calories %>
    <%= food.text_field :calories %>
  </div>
    <br>


    <br>
    <% end %>

    <%= f.submit %>
  <% end %>
</div>
