<!DOCTYPE html>
<html>
  <head>
    <title>Workout - Tracker 2.0</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-pills">
      <%= render 'layouts/header' %>
    </div>
    <br>
    <%= yield %>
    <br>
    <div  class= "center">
      <img src="/images/wkt-logo1.gif"   class="center-block" alt="Workout Tracker Logo" style="height:150px;">

    </div>

  </body>
</html>
